<section class="flex justify-center dark:text-white">
    <div class="flex w-4/5 flex-col items-center gap-8 md:w-1/2">
        <h1 class="text-center text-4xl font-bold tracking-tighter md:text-7xl">
            Never miss a win, <br /> track your successes.
        </h1>

        <h4 class="text-center font-bold">
            Secure your professional achievements in one place, transforming
            them into powerful stories for promotions, reviews, and more.
        </h4>

        <div
            class="flex w-64 items-center justify-center rounded-lg bg-titan-300 p-2 font-bold motion-safe:hover:animate-wiggle md:h-16 md:w-60 md:text-3xl dark:bg-gigas-900">
            <a href="https://app.thecareerjournal.com/signup">Get Started</a>
        </div>
    </div>
</section>
