---
import { Image } from "astro:assets";
import logo from "src/assets/images/career-journal-logo.svg";

interface Props {
    loading?: "lazy" | "eager";
}
const { loading = "lazy" } = Astro.props;
---

<span
    class="flex items-center gap-1 text-xl font-bold md:text-xl dark:text-white">
    <Image
        src={logo}
        alt="Career Journal Logo"
        width="30"
        height="30"
        class="dark:invert dark:filter"
        loading={loading}
    />
    Career Journal
</span>
