[data-toggle-menu] path {
    @apply transition;
}

[data-toggle-menu].expanded g > path:first-child {
    @apply translate-x-[-3px] translate-y-[15px] -rotate-45;
}

[data-toggle-menu].expanded g > path:last-child {
    @apply translate-x-[14px] translate-y-[-8px] rotate-45;
}

@font-face {
    font-family: "Inter";
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    src: url("/fonts/inter-roman-latin-var.woff2") format("woff2");
}
