---
import favIcon from "~/assets/images/favicon.ico";

import { ViewTransitions } from "astro:transitions";
import Header from "~/components/astro/Header.astro";
import Scripts from "~/components/astro/Scripts.astro";
import Footer from "~/components/astro/Footer.astro";
import { SEO } from "astro-seo";
import PostHog from "~/components/astro/PostHog.astro";

interface Props {
    title: string;
    ogTitle?: string;
}

const {
    title,
    ogTitle = "Boost your career with Career Journal, the leading career journaling platform designed for professionals seeking advancement",
} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Career Journal" />
        <meta name="viewport" content="width=device-width" />

        <link rel="shortcut icon" href={favIcon} />

        <link rel="sitemap" href="/sitemap-index.xml" />

        <meta name="generator" content={Astro.generator} />

        <SEO
            title={title}
            description="Boost your career with Career Journal, the leading career journaling platform designed for professionals seeking advancement. Get reminders to document achievements with our smart notification system, use expert-crafted journaling templates, and create promotion-ready documents with high-quality PDF exports. Ideal for performance reviews, year end reviews, promotion documents, and resume updates. Start your path to career success today with our simple, transparent monthly or annual plans."
            openGraph={{
                basic: {
                    title: ogTitle,
                    type: "website",
                    image: "https://thecareerjournal.com/career-journal-logo.png",
                },
            }}
            twitter={{
                creator: "@arthurlrodolfo",
                card: "summary",
                title: ogTitle,
                description: "Career Journal",
                image: "https://thecareerjournal.com/career-journal-logo.png",
                site: "@arthurlrodolfo",
            }}
        />

        <PostHog />

        <ViewTransitions fallback="swap" />
    </head>
    <body class="w-full antialiased dark:bg-slate-950">
        <Header />

        <main class="my-20 flex min-h-screen flex-col gap-40 px-3">
            <slot />
        </main>

        <Footer />

        <Scripts />
    </body>
</html>
